body {
    background-color: black;
    color: white;
}

#grid-platform {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 90vmin;
    height: 90vmin;
    margin: 5% auto;
    row-gap: 1%;
}

i {
    font-size: 2rem;
    color: white;
}

.fields {
    border: 1px solid white; 
    text-align: center;
}

.fields:nth-child(20n+10):not(:last-child) {
    border-top-right-radius: 50%;
}

.fields:nth-child(20n) {
    border-bottom-right-radius: 50%;
}

.fields:nth-child(20n+1):not(:first-child) {
    border-bottom-left-radius: 50%;
}

.fields:nth-child(20n+11):not(:nth-child(91)) {
    border-top-left-radius: 50%;
}

.fields:first-child, .fields:nth-child(91) {
    position: relative;
}

.arrow-ico {
    font-size: 4rem;
    position: absolute;
    transform: translateX(-200%);
}

.pawn-ico, .display-name {
    visibility: hidden;
    transition: visibility 2s;
}
