body {
    background-color: black;
    color: white;
}

#flex-container {
    display: flex;
    position: relative;
    width: 95vw;
    height: 95vh;
    margin: auto;
}

#chart {
    display: none;
    z-index: 1;
    position: absolute;
    width: 75%;
    height: 80%;
    top: 10%;
    left: 22.5%;
}

#cnv {
    width: 100%;
    height: 100%;
    background-color: wheat;
    z-index: 900;
}

#flex-left-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 25%;
    margin-left: 1%;
}

.players-grid {
    height: 35%;
    display: grid;
}

#players-board {
    grid-template-columns: repeat(4, 1fr);
}

.player-board {
    display: flex;
    flex-direction: column;  
    overflow: hidden;  
} 

.player-no, .player-board > .display-name {
    font-size: .8rem;
}

#winner-board {
    place-items: center;
    font-size: 3rem;
}

.players-grid:last-child>i {
    font-size: 8rem;
}

#grid-platform {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 75%;
    height: 100%;
    row-gap: 1%;
}

i {
    font-size: 2rem;
    color: white;
}

.fields {
    border: 1px solid white; 
    text-align: center;
}

.fields:nth-child(20n+10):not(:last-child) {
    border-top-right-radius: 50%;
}

.fields:nth-child(20n) {
    border-bottom-right-radius: 50%;
}

.fields:nth-child(20n+1):not(:first-child) {
    border-bottom-left-radius: 50%;
}

.fields:nth-child(20n+11):not(:nth-child(91)) {
    border-top-left-radius: 50%;
}

.fields:first-child, .fields:nth-child(91) {
    position: relative;
}

.fields-number {
    overflow: hidden;
}

.arrow-ico {
    font-size: 4rem;
    position: absolute;
    transform: translateX(-200%);
}

.pawn-ico, .display-name, .playerNo {
    visibility: hidden;
    transition: visibility .2s ease-out;
    text-align: center;
}


/*DICE* sizes and positions are fixed*/

#dice-canvas {
    display: grid;
    flex-basis: 25%;
    place-items: center;
    position: relative;
    border: none;
    transform-style: preserve-3d;
    transition: transform .5s;
}


[id*="side"] {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px white solid;
    transform-style: preserve-3d;
    font-size: 3rem;
    backface-visibility: hidden;
}

#side1 {
    transform-origin:100% 0%;
    transform: rotateY(-90deg) translateX(100px);
}

#side2 {
    transform-origin: 0 100%;
    transform: rotateY(90deg) translateX(-100px);
}

#side3 {
    transform-origin: 100% 0%;
    transform: rotateX(-90deg) translateY(-100px);
}

#side4 {
    transform-origin: 0% 100%;
    transform: rotateX(90deg) translateY(100px);
}

#side5 {
    transform: rotateY(180deg) translateZ(-100px);
}

#side6 {
    transform-origin: 0 50%;
    transform: translateZ(-100px);
}

.dot{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: wheat;
}

:is(#side1, #side5, #side3) > .dot:last-child {
    left: 75px; 
    top: 75px;
}

:is(#side2, #side3, #side4, #side5) > .dot:first-child {
    left: 15px; 
    top: 15px;
}

:is(#side2, #side3, #side4, #side5) > .dot:nth-child(2) {
    right: 15px; 
    bottom: 15px;
}

:is( #side4, #side5) > .dot:nth-child(3) {
    right: 15px; 
    top: 15px;
}

:is(#side4, #side5) > .dot:nth-child(4) {
    left: 15px; 
    bottom: 15px;
}

#side6 > .dot:nth-child(1) {
    left: 20px;
    top: 15px;
}

#side6 > .dot:nth-child(2) {
    left: 20px;
    bottom: 75px;
}

#side6 > .dot:nth-child(3) {
    left: 20px;
    bottom: 15px;
}

#side6 > .dot:nth-child(4) {
    right: 20px;
    top: 15px;
}

#side6 > .dot:nth-child(5) {
    right: 20px;
    top: 75px;
}

#side6 > .dot:nth-child(6) {
    right: 20px;
    bottom: 15px;
}
